<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin | cita</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="card full-width">
				<div class="card-header title-header">DONANTE<a th:href="@{'/admin/cita'}"><i class="fas fa-arrow-left"></i>Atrás</a></div>
				<div class="card-body">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-link active tab-donante" id="nav-home-tab" data-toggle="tab"
								href="#nav-home" role="tab" aria-controls="nav-home"
								aria-selected="true">Donante</a> <a class="nav-link tab-donante"
								id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
								role="tab" aria-controls="nav-profile" aria-selected="false">Ficha
								médica</a> <a class="nav-link tab-donante" id="nav-contact-tab"
								data-toggle="tab" href="#nav-contact" role="tab"
								aria-controls="nav-contact" aria-selected="false">Donación</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="panel-cita tab-pane fade show active" id="nav-home"
							role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="row">
								<div class="col-sm-8">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title name-donante">Daniela Razuri</h5>
											<p class="card-text dato-donante">
												Dirección: <span>Av. La Cantuta 421</span>
											</p>
											<p class="card-text dato-donante">
												Dirección: <span>Av. La Cantuta 421</span>
											</p>
											<p class="card-text dato-donante">
												Dirección: <span>Av. La Cantuta 421</span>
											</p>
											<p class="card-text dato-donante">
												Dirección: <span>Av. La Cantuta 421</span>
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-4">
									<div class="card text-white bg-green">
										<div class="card-header title-dato-cita">CITA:</div>
										<div class="card-body datos-cita">
											<h5 class="card-title">Hospital xxx</h5>
											<p class="card-text">Distrito</p>
											<p class="card-text">
												Día: <span>31/12/2020</span>
											</p>
											<p class="card-text">
												Hora: <span>09:00</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-cita tab-pane fade" id="nav-profile"
							role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="card border-light col-md-9 not-padding">
								<div class="card-header">Ficha médica:</div>
								<div class="card-body">
									<form action="" class="full-width">
										<div class="form-group">
											<label class="col-sm-2 label-cita">Hemoglobina:</label>
											<div class="col-sm-4">
												<input type="text" class="form-control input-cita">
											</div>
											<label class="col-sm-2 label-cita">ETS:</label>
											<div class="col-sm-4">
												<select class="form-control input-cita">
													<option value=" "></option>
													<option value="0">No posee</option>
													<option value="1">Si posee</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 label-cita">Estado:</label>
											<div class="col-sm-4">
												<select class="form-control input-cita">
													<option value=" "></option>
													<option value="0">Apto</option>
													<option value="1">No apto</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 label-cita">Comentarios:</label>
											<div class="col-sm-10">
												<textarea rows="4" cols="" class="form-control input-cita"></textarea>
											</div>
										</div>
										<div class="form-group">
											<a onclick="editar();" class="btn-edit-ficha">Editar</a>
											<button type="submit" class="btn-save-ficha">Guardar</button>
											<a onclick="cancelar();" class="btn-cancel-ficha">Cancelar</a>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-cita tab-pane fade" id="nav-contact"
							role="tabpanel" aria-labelledby="nav-contact-tab">
							<div class="card border-light col-md-9 not-padding">
								<div class="card-header">Ficha donación:</div>
								<div class="card-body">
									<form action="" class="full-width">
										<div class="form-group">
											<label class="col-sm-3 label-donacion">Fecha:</label>
											<div class="col-sm-3">
												<input type="date" class="form-control input-donacion">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 label-donacion">Unidad de sangre:</label>
											<div class="col-sm-3">
												<select class="form-control input-donacion">
													<option value=" "></option>
													<option value="0">1250</option>
													<option value="1">1251</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn-save-donacion">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
$(".citas").addClass( "active" );
$(".btn-save-ficha").hide();
$(".btn-cancel-ficha").hide();

function editar(){
	$(".btn-edit-ficha").hide();
	$(".btn-save-ficha").show();
	$(".btn-cancel-ficha").show();
	$(".input-cita").addClass("input-cita-active");
}

function cancelar(){
	$(".btn-edit-ficha").show();
	$(".btn-save-ficha").hide();
	$(".btn-cancel-ficha").hide();
	$(".input-cita").removeClass("input-cita-active");
}
</script>
</html>