<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hospital | Crear</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="card full-width">
				<div class="card-header title-header">HOSPITAL</div>
				<div class="card-body">
					<div class="card border-light col-md-12 not-padding">
						<div class="card-header title-header">Crear hospital:</div>
						<div class="card-body">
							<form th:action="@{/admin/hospital/save}" th:object="${hospital}"
								method="post" class="full-width"
								style="width: 100%;">
								<div class="form-group">
									<label class="col-sm-2 label-form">Nombre:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control input-form"
											th:field="*{nombre}" placeholder="Ingresar nombre" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 label-form">Teléfono:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control input-form"
											th:field="*{numeroTelefono}"
											placeholder="Ingresar número de teléfono" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 label-form">Dirección:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control input-form"
											th:field="*{direccion}" placeholder="Ingresar dirección"
											required>
									</div>
									<label class="col-sm-2 label-form">Distrito:</label>
									<div class="col-sm-4">
										<select class="form-control input-form"
											th:field="*{distrito}" id="hospital" required>
											<option value="">Distritos</option>
											<option th:each="distrito: ${distritos}"
												th:value="${distrito.id}" th:text="${distrito.nombre}">
											</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 label-form">Apertura:</label>
									<div class="col-sm-4">
										<input type="time" class="form-control input-form"
											th:field="*{horarioApertura}" required>
									</div>
									<label class="col-sm-2 label-form">Cierre:</label>
									<div class="col-sm-4">
										<input type="time" class="form-control input-form"
											th:field="*{horarioCierre}" required>
									</div>
								</div>
								<div class="form-group not-margin">
									<button type="submit" class="btn-form-save">Crear</button>
									<a th:href="@{'/admin/hospital'}" class="btn-form-cancel">Cancelar</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
$(".hospital").addClass( "active" );
</script>
</html>