<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::link}, ~{::body})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Generar cita</title>
<link rel="stylesheet" th:href="@{/css/hospitales.css}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<div class="generar-cita bg-fondo">
		<div class="container">
			<div class="row">
				<div class="cd-registrar">
					<div class="cd-text-registrar">
						<p>Registra tu cita en el mejor horario y lugar cercano para
							ti. Cada gramito de sangre ayuda a salvar muchas vidas.</p>
					</div>
					<form th:action="@{/generar-cita/save}" th:object="${cita}"
						method="post">
						<div class="cd-form-registrar">
							<select class="form-control" th:field="*{donante}">
								<option value="0">Nombre de donante</option>
								<option th:each="donante: ${donantes}" th:value="${donante.id}"
									th:text="${donante.nombresApellidos}"></option>
							</select>
						</div>

						<div class="cd-form-registrar">
							<select class="form-control" th:field="*{hospital}">
								<option value="0">Hospitales</option>
								<option th:each="hospital: ${hospitales}"
									th:value="${hospital.id}" th:text="${hospital.nombre}"></option>
							</select>
						</div>

						<div class="cd-form-registrar">
							<input placeholder="Fecha de la cita"
								class="form-control input-text" type="date"
								th:field="*{fechaCita}" />
						</div>


						<div class="cd-form-registrar">
							<input placeholder="Hora de la cita"
								class="form-control input-text" type="time" th:field="*{hora}" />
						</div>

						<div class="cd-form-registrar">
							<button type="submit" class="btn-registrar">Grabar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>