<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin | Casos</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="card full-width">
				<div class="card-header title-header">
					CASOS<a th:href="@{'/admin/caso/crear'}" class="btn-crear"><i
						class="fas fa-plus"></i> Crear</a>
				</div>
				<div class="card-body">
					<table class="table">
						<thead class="card-header">
							<tr>
								<th class="text-center" style="width: 60px;" scope="col">#</th>
								<th scope="col">Nombre</th>
								<th class="text-center" style="width: 120px;" scope="col">Acción</th>
							</tr>
						</thead>
						<tbody class="card-body">
							<tr th:each="caso : ${casos}">
								<th class="text-center" style="width: 60px;"
									th:text="${caso.id}" scope="row">.</th>
								<td th:text="${caso.nombresApellidos}"></td>
								<td class="text-center" style="width: 120px;"><a
									th:href="@{'/admin/caso/edit/' + ${caso.id}}" class="btn-edit"><i
										class="fas fa-edit"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(".caso").addClass( "active" );
</script>
</html>