<!DOCTYPE html>
<html
	th:replace="~{layout :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dona una vida | Mis citas</title>
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
	<section class="bg-fondo">
		<div class="donante" style="padding-bottom: 50px;">
			<div class="container">
				<div class="row h-center">
					<div class="nombre-donante">
						<h5>Mis citas</h5>
					</div>
					<div class="menu-donante row not-margin">
						<div th:each="cita : ${citas}">
							<div class="col-md-4">
								<div class="card text-center" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">Cita:</h5>
										<p class="card-text text-cita" th:text="'En el ' + ${cita.hospital.nombre}"></p>
										<p class="card-text text-cita" th:text="'el día ' + ${cita.fechaCita}"></p>
										<p class="card-text text-cita" th:text="'a las ' + ${cita.hora}"></p>
										<a href="#" class="btn btn-primary" th:text="${cita.estadoCita}"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script></script>
</html>