.generar-cita{
	padding: 50px 0px;
}
.cd-text-registrar{
	margin: 15px 5px;
}
.cd-text-registrar p{
	font-family: 'Montserrat';
	font-size: 15px;
}
.cd-registrar{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 25px;
}
.cd-form-registrar{
	margin-bottom: 20px;
}
.input-text, select{
	width: 100%;
	color: #333333 !important;
	font-family: 'Montserrat';
}
.btn-registrar{
	background-color: #DD1F26;
	color: #ffffff;
	padding: 10px 25px;
	border: 1px solid #DD1F26;
	box-shadow: none;
	font-family: 'Montserrat';
	transition: .8s;
}
.btn-registrar:hover{
	background-color: transparent;
	border: 1px solid #DD1F26;
	color: #DD1F26;
}

#error-fecha{
	font-family: 'Montserrat-light';
	font-size: 10px;
	color: #DD1F26;
	text-align: left;
}
.politicas-generar{
	margin: 25px 0px;
}
.cd-politicas-generar{
	padding: 15px;
	background-color: #fff;
}
.cd-politicas-generar{
	font-family: 'Montserrat';
	font-size: 15px;
	color: #333333;
}