.generar-cita{
	padding: 50px 0px;
}
.cd-text-registrar{
	margin: 15px 5px;
}
.cd-text-registrar p{
	font-family: 'Montserrat';
	font-size: 15px;
}
.cd-form-registrar{
	margin-bottom: 20px;
}
.img-generar{
	width: 100%;
	height: auto;
}
.input-text, .select-cita{
	width: 100%;
	color: #333333 !important;
	font-family: 'Montserrat';
	font-size: 15px;
	background: transparent;
	border: 0px solid #fff;
	border-bottom: 1px solid #DD1F26;
}
.input-text:active, .select-cita:active{
	background-color: transparent;
}
.input-text:focus, .select-cita:focus{
	background-color: transparent !important;
	border: 0px solid #fff !important;
}
.p-right-6{
	padding: 0px 5px 0px 0px;
}
.p-left-6{
	padding: 0px 0px 0px 5px;
}
.btn-registrar{
	background-color: #DD1F26;
	color: #ffffff;
	padding: 8px 20px;
	border: 1px solid #DD1F26;
	border-radius: 5px;
	box-shadow: none;
	font-family: 'Montserrat';
	transition: .8s;
}
.btn-registrar:hover{
	background-color: transparent;
	border: 1px solid #DD1F26;
	color: #DD1F26;
}

#error-fecha{
	font-family: 'Montserrat-light';
	font-size: 10px;
	color: #DD1F26;
	text-align: left;
}
.politicas-generar{
	margin: 25px 0px;
}
.cd-politicas-generar{
	padding: 15px;
	background-color: #fff;
}
.cd-politicas-generar{
	font-family: 'Montserrat';
	font-size: 15px;
	color: #333333;
}