.admin {
	background-color: #CEECF4;
	height: 100%;
	width: 100%;
	position: absolute;
}

.cd-contenido {
	height: 100%;
	padding: 25px 0px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.box-title{
	font-family: 'Montserrat';
	font-weight: 600;
}
.table>thead>tr>th{
	font-family: 'Montserrat';
	color: #444242;
	text-transform: uppercase;
	font-weight: 600;
}
.table>tbody>tr>td{
	font-family: 'Montserrat';
	color: #444242;
	font-weight: normal;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #fff;
}



.input-group a {
	text-decoration: none !important;
	padding: 10px 20px;
	background: #DD1F26;
	color: #ffffff !important;
	border-radius: 7px;
	font-family: 'Montserrat';
}

.form-group:before {
	display: table;
	content: " ";
}
.btn-edit>i{
	color: #ecaa11;
}

/*Formulario*/
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-family: 'Montserrat';
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-family: 'Montserrat';
	background-color: #DD1F26;
	color: #fff;
}

.btn-default {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
	font-family: 'Montserrat';
}

