.admin {
	background-color: #CEECF4;
	height: 100%;
	width: 100%;
	position: absolute;
}

.cd-panel {
	height: 100%;
}

.cd-contenido {
	height: 100%;
	padding: 25px 0px;
}
/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	min-height: 100%;
	overflow: auto;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #DD1F26;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #DD1F26;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.box-title{
	font-family: 'Montserrat';
	font-weight: 900px;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #fff;
}



.input-group a {
	text-decoration: none !important;
	padding: 10px 20px;
	background: #DD1F26;
	color: #ffffff !important;
	border-radius: 5px;
	font-family: 'Montserrat';
}

.form-group:before {
	display: table;
	content: " ";
}

/*Formulario*/
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-family: 'Montserrat';
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-family: 'Montserrat';
	background-color: #DD1F26;
	color: #fff;
}

.btn-default {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
	font-family: 'Montserrat';
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}