<!DOCTYPE html>
<html
	th:replace="~{layout :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dona una vida</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

	<section class="bg-fondo">
		<div class="casos-index">
			<div id="carouselExampleControls" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner none" th:class="carousel-inner"
					role="listbox">
					<div class="carousel-item active"
						th:each="caso, iterStat : ${casos}"
						th:class="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
						<div class="w-100 d-block carousel-photo">
							<div class="container">
								<div class="row p-section h-center">
									<div class="col-md-6 col-lg-6">
										<div class="cd-casos-index">
											<div class="cd-name-caso">
												<h3 th:text="${caso.nombresApellidos}"></h3>
											</div>
											<div class="cd-edad-caso">
												<h5 th:text="${caso.edad} + años">años</h5>
											</div>
											<div class="cd-text-caso">
												<p th:text="${caso.descripcion}"></p>
											</div>
											<div class="cd-btn-dona-una-vida-caso">
												<a class="btn-go-generar-cita" th:href="@{'/generar-cita'}">Dona
													una vida</a>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="cd-img-caso">
											<img
												th:src="@{/images/casos/{image}(image=${caso.urlImage})}"
												style="width: 100%; height: auto;" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div class="beneficios">
			<div class="container">
				<div class="row p-section h-center">
					<div class="col-md-8">
						<div class="cd-title-beneficios">
							<h3>Los beneficios a tu salud que puedes conseguir al donar
								sangre</h3>
						</div>
						<div class="cd-mencion-beneficios">
							<p>Menor riesgo de cancer.</p>
							<p>Ayuda a mejorar el flujo sanguíneo.</p>
							<p>Nos brinda información acerca de nuestra salud actual.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="questions">
			<div class="container">
				<div class="row p-section h-center">
					<div class="col-md-6">
						<div class="cd-question">
							<h5>¿Es suficiente la cantidad de donantes de sangre en el
								Perú?</h5>
						</div>
						<div class="cd-answer">
							<p>No, no se cumple ni la mitad de la cantidad necesaria. Por
								lo cual muchas personas se ven afectadas o incluso pierden la
								vida.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="cd-question">
							<h5>¿Sabías que características deben tener la persona para
								donar?</h5>
						</div>
						<div class="cd-answer">
							<p>Solo deben pesar mas de 55 kilogramos y no tener ninguna
								enfermedad de Transmisión Sexual. Por lo que personas con
								piercing y tatuadas, también pueden hacerlo.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="dona">
			<div class="container">
				<div class="row p-section h-center"
					style="border-top: 6px solid #de1f26;">
					<div class="col-md-6">
						<div class="cd-title-name">
							<h5>Pilar Alarcon</h5>
						</div>
						<div class="cd-text-caso-dona">
							<p>"Mi niña mensualmente recibe dos paquetes de glóbulos
								rojos por una enfermedad congénita que la acompañara toda su
								vida. Sino fuera por personas tan valiosas en corazón y
								sentimientos, mi hijita ya no estaría conmigo. Muchas gracias."</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="cd-btn-dona">
							<a class="btn-go-generar-cita" th:href="@{'/generar-cita'}">Dona
								una vida</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script><script></script>
</html>