<!DOCTYPE html>
<html th:fragment="layout (title, css, content, js)"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="language" content="es">
<title th:replace="${title}"></title>
<link rel="stylesheet" th:href="@{/components/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/components/font-awesome/css/all.css}">
<link rel="stylesheet" th:href="@{/webfonts/Montserrat/montserrat.css}">
<link rel="stylesheet" th:href="@{/css/generic.css}">
<link rel="stylesheet" th:href="@{/css/menu-admin.css}">
<link rel="stylesheet" th:href="@{/css/layout-admin.css}">
<link th:replace="${css}">
</head>
<body>
	<!-- Menú -->
	<header class="main-header">
		<div class="menu bg-white">
			<div class="container">
				<div class="row not-margin h-center">
					<div class="col-md-4 col-lg-5 not-padding">
						<div class="cd-img-logo">
							<a th:href="@{'/'}"> <img alt="" th:src="@{/images/LOGO.png}" /></a>
						</div>
					</div>
					<div class="col-md-8 col-lg-7">
						<ul class="options text-right">
							<li><a class="" th:href="@{'/'}">Inicio</a></li>
							<li><a class="" href="#">Nosotros</a></li>
							<li><a class="" href="#">Dona</a></li>
							<li><a class="" th:href="@{'/generar-cita'}">Generar
									cita</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End-Menú -->

	<section class="admin">
		<div class="container-full full-width h100">
			<div class="row h100 not-margin">
				<div class="col-md-2 not-padding cd-panel">
					<aside class="main-sidebar">
						<ul class="sidebar-menu">
							<li class="header">MAIN</li>
							<li><a class="distrito" th:href="@{'/admin/distrito'}"><i class="fas fa-map-marked-alt"><span>Distritos</span></i></a></li>
							<li><a class="hospital" th:href="@{'/admin/hospital'}"><i class="fas fa-hospital"><span>Hospitales</span></i></a></li>
							<li><a class="tiposangre" th:href="@{'/admin/tipo-de-sangre'}"><i class="fas fa-tint"><span>Tipos de sangre</span></i></a></li>
							<li><a class="caso" th:href="@{'/admin/caso'}"><i class="fas fa-procedures"><span>Casos</span></i></a></li>
							<li class="header">DONANTES</li>
							<li><a class="citas" th:href="@{'/admin/cita'}"><i class="fas fa-archive"><span>Citas</span></i></a></li>
						</ul>
					</aside>
				</div>

				<div class="col-md-10 not-padding cd-contenido">
					<div th:replace="${content}"></div>
				</div>
			</div>
		</div>
	</section>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:replace="${js}"></script>
</body>
</html>