<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Distrito | Crear</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="card full-width">
				<div class="card-header title-header">DISTRITO</div>
				<div class="card-body">
					<div class="card border-light col-md-12 not-padding">
						<div class="card-header title-header">Crear distrito:</div>
						<div class="card-body">
							<form th:action="@{/admin/distrito/save}" th:object="${distrito}"
								method="post" class="full-width" style="width: 100%;">
								<div class="form-group">
									<label class="col-sm-2 label-form">Nombre:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control input-form"
											th:field="*{nombre}" placeholder="Ingresar nombre">
									</div>
								</div>
								<div class="form-group not-margin">
									<button type="submit" class="btn-form-save">Crear</button>
									<a th:href="@{'/admin/distrito'}" class="btn-form-cancel">Cancelar</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(".sidebar-menu>li>a.distrito").addClass( "active" );
</script>
</html>