<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Distrito | Crear</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<form th:action="@{/admin/distrito/save}" th:object="${distrito}" method="post" class="full-width" style="width: 100%;">
				<div class="col-md-12">
					<div class="box box-warning" style="padding-bottom: 20px;">
						<div class="box-header with-border">
							<h3 class="box-title">REGISTRAR DISTRITO</h3>
						</div>
						<div class="box-body form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label" style="float: left;">Nombre</label>
								<div class="col-sm-10" style="float: left;">
									<input type="text" class="form-control" th:field="*{nombre}" 
										placeholder="Ingresar nombre">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box">
						<div class="box-footer">
							<button type="submit" class="btn btn-warning">Crear</button>
							<a th:href="@{'/admin/distrito'}" class="btn btn-default">Cancelar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
$(".sidebar-menu>li>a.distrito").addClass( "active" );
</script>
</html>